<main>
  <div class="py-6 mx-auto mt-8 bg-white rounded-lg shadow-lg max-w-7xl sm:px-6 lg:px-8">
    <%= form_for @contractor do |f| %>
      <%= f.label :first_name, class: 'font-bold text-gray-700' %>
      <%= f.text_field :first_name, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>

      <%= f.label :last_name, class: 'font-bold text-gray-700' %>
      <%= f.text_field :last_name, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>

      <%= f.label :daily_rate, class: 'font-bold text-gray-700' %>
      <%= f.number_field :daily_rate, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>

      <br/>
      <br/>
      <button type="submit" class="self-end px-4 py-2 font-normal text-white bg-blue-500 rounded hover:bg-blue-700">
        Submit
      </button>
    <% end %>
  </div>
</main>
